{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="panel-group">
        <div class="panel  panel-primary class">
            {% for insatnce in queryset %}
                <div class="panel-heading"><b>Recipe :</b> {{ insatnce.recipe_name }}</div>
                <div class="panel-body"><b>Description</b><br>{{ insatnce.recipe_add }}
                <div>
            {% endfor %}
            </div>
            <br>

            <div class="panel-group">
                {% if queryset1 %}
                    <div class="panel  panel-primary class">
                        <div class="panel-heading">Comments</div>
                        {% for insatnce in queryset1 %}
                            <b>{{ insatnce.username }}</b>::{{ insatnce.recipe_comments }}
                            <br>
                        {% endfor %}
                    </div>

                    </div>
                {% endif %}

            {#{% url 'commentrecipe' recipeid=insatnce.pk %}#}

            <form method="POST"
                  action={% url 'commentrecipe' recipeid=recipeid %} enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Create">
            </form>
{% endblock %}